.env
.env.local
.env.*.local
config.json

node_api-gateway/node_modules

npm-debug.log*
yarn-error.log
yarn-debug.log
pnpm-debug.log

java-execution-engine/target/

*.log
.idea/
.vscode/
*.iml
*.iws

.DS_Store
Thumbs.db